html {
    background-color: rgb(35, 45, 65);
}

body {
    background-color: unset;
    margin: 0 auto;
    padding: 0;
}

header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

h1 {
    margin: 0;
}

article {
    padding: 4px 10px;
    background-color: rgb(188, 208, 245);
    border-radius: 10px;
}

article:not(:last-child) {
    margin-bottom: 10px;
}

article .title {
    margin-bottom: 10px;
}

article p {
    padding: 20px;
}

article h2, article p, article small {
    color: rgb(35, 45, 65);
    margin: 0;
}